/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Specifications
        4.3 Messages
    5. Media Queries
////////////////////////*/
/* ------------------------------- 1. Global Styles -------------------------------- */
/* ------------------------------- 2. Typography ----------------------------------- */
/* ------------------------------- 3. Layout --------------------------------------- */
/* --------------- 3.1 Reusables ----------------------- */
/* --------------- 3.2 Other --------------------------- */
/* ------------------------------- 4. Areas ---------------------------------------- */
/* --------------- 4.1 Header ------------------------- */

.header-title {
    font-size: 42px;
}

.p {
    text-transform: capitalize;
}

/* --------------- 4.2 Specifications ------------------- */

.main {
    display: flex;
    justify-content: center;
}

.section {
    flex-basis: 1000px;
    margin: 0 20px 0 20px;
    padding-top: 50px;

    display: flex;
    flex-direction: column;
}

.link {
    margin-top: 50px;
    color: #DD3038;
    font-family: 'Quicksand', sans-serif, Arial, Verdana;
    font-weight: 700;
}

/* --------------- 4.3 Messages --------------------------- */

.message {
    font-family: 'Quicksand', sans-serif, Arial, Verdana;
    font-weight: 700;
}

/* ------------------------------- 5. Media Queries -------------------------------- */