/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
    5. Media Queries
////////////////////////*/
/* ------------------------------- 1. Global Styles -------------------------------- */
/* ------------------------------- 2. Typography ----------------------------------- */
/* ------------------------------- 3. Layout --------------------------------------- */
/* --------------- 3.1 Reusables ----------------------- */
/* --------------- 3.2 Other --------------------------- */
/* ------------------------------- 4. Areas ---------------------------------------- */
/* --------------- 4.1 Header ------------------------- */

.header {
    background: rgb(231,97,58);
    background: linear-gradient(133deg, rgba(231,97,58,1) 9%, rgba(221,48,56,1) 86%);

    display: flex;
    justify-content: center;
}

.header-content {
    flex-basis: 1000px;
    margin: 0 20px 0 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    align-self: flex-end;
    min-width: 100%;
    padding-top: 20px;

    display: flex;
    justify-content: flex-end;
}

.ul {
    list-style: none;
    flex-basis: 270px;

    display: flex;
    justify-content: space-between;
    /*border: solid #00ffd9 1px;*/
}

.navlink {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif, Arial, Verdana;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

.dynamic-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 50px 0;
}

/* ------------------------------- 5. Media Queries -------------------------------- */